#logo {
    width: 3em;
}
.navbar{
    background-color: rgba(209,198,173,.5);
    position: absolute;
}
h1{
    font-family: "Abril Fatface";
    margin: .25%;
}
.carouselControls{
    height: 4em;
}
.container {
    background-color: rgba
}